<!-- <p>login works!</p> -->

<!-- LOGIN PAGE (SONIA MISS GITHUB FOLDER, bankjs => index.html) -->

<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
    <!--DATA BINDING, STRING INTERPOLATION (ts->html) i.e., (component->view)  -->
    <h6 style="color: white;">{{aim}}</h6> 
</nav>
  
  
  <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 class="text-center">Sign In</h3>
              </div>
              <div class="card-body">
                  <form onsubmit="event.preventDefault();bank.authenticate()">
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <!--DATA BINDING, PROPERTY BINDING : [placeholder]="account" instead of givig like, placeholder="Enter acc number"  -->
                          <!--DATA BINDING, EVENT BINDING : (change)="acnoChange($event)" -->
                          <!-- <input (change)="acnoChange($event)" type="text" class="form-control" [placeholder]="account" id="login_accno" required> -->
                          
                          <!-- <input #acno type="text" class="form-control" [placeholder]="account" id="login_accno" required> -->
                            <!-- templateReferencingVariable -->

                         <!-- TWO WAY BINDING - ngModel -->
                         <input [(ngModel)]="acno" name="acno" type="text" class="form-control" [placeholder]="account" id="login_accno" required>

                         
                        </div>
                        
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <!-- EVENT BINDING : (change)="pswdChange($event)" -->
                          <!-- <input (change)="pswdChange($event)" type="password" class="form-control" [placeholder]="password" id="login_password" required> -->
                          
                          <!-- <input #pswd type="password" class="form-control" [placeholder]="password" id="login_password" required> -->
                            <!-- templateReferencingVariable -->

                        <!-- TWO WAY BINDING - ngModel -->
                        <input [(ngModel)]="pswd" name="pswd" type="password" class="form-control" [placeholder]="password" id="login_password" required>

                        </div>
                        <div class="form-group">
                          <!-- EVENT BINDING : (click)="login()" -->
                          <!-- <input type="submit" (click)="login(acno,pswd)" value="Login" class="btn float-right login_btn " style="width:50%" > -->
                                            <!-- templateReferencingVariables as arguments -->
                        <input type="submit" (click)="login()" value="Login" class="btn float-right login_btn " style="width:50%" >

                        </div>
                  </form>
              </div>
              <p style="color:white;align-items:baseline;">Not a user? <a href="./register.html">Register</a></p>
          </div>
      </div>
  </div>
  
